/* Sans media */
body > footer {
	display: grid;
	padding: 50px ;
	background-color: black;
	color: blanchedalmond;
	font-family: Pattaya;
}



/* Smartphone */
@media screen and ( max-width: 600px ) {

	body > footer  {
		text-align: center;
	}
}

/* PC */
@media screen and ( min-width: 601px ) {

	body > footer {
		grid-template-columns: 50% 50%;
		align-items: center;
	}
}